* {
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: rgb(241, 68, 6);

}

.logo{
  width: 6rem;
  color: rgb(241, 68, 6);
}
.logo:hover{
  cursor: pointer;
  color: white ;
}

span{
  font-size: 1rem;
}

.btn-main{
  background-color: orangered;
  color:ffff;
  padding: 0.5rem 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1.2rem;
  border: none;
  box-shadow: 0 0 5px #000004;
}

.btn-main:hover{
  background-color: white;
  color:orangered ;
}

.bi{
  margin: 0.5rem;
  font-size: 1.5rem;
}

.bi:hover{
  cursor: pointer;
  color: white ;
}

.sec-about{
  display: flex;
  width: 100%;
  padding: 5rem;
}

h1 {
  
}


.sec-education{
  display: flex;
  width: 100%;
  padding: 5rem;
  
}

.row{
  justify-content: center;
}

#carouselExampleDark{
  height: 25vw;
}
justify-content: center;
align-items: center;

footer{
  width: 100%;
  font-size: smaller;
  text-align: center;
  padding-top: 5rem;

}

/*

.header-item{
  padding: 2rem;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  color: wheat;
  background-color: firebrick
}

.header-item:hover{
  transition: 0,3 linear background-color;
  background-color: black;
  text-decoration: none;
}



@media screen and (max-width:600px){
  body{
    flex-direction: column;
  }

  header{
    height: 80px;
  }

  aside{
    width: 100%;
  }

  section{
    margin: 0;
    width: 100%;
  }

  footer{
    height: 10px;
  }
  

}

@media screen and (min-width: 601px) and (max-width: 960px){
  body{
    flex-direction: column;
  }

  header{
    height: 80px;
  }

  section{
    margin: 0;
  }

  aside{
    width: 100%;
  }

  footer{
    height: 10px;
  }

}

@media screen and (min-width: 961px) and (max-width: 1280px){
  body{
    flex-direction: column;
  }

  header{
    height: 80px;
  }

  aside{
    width: 20%;
  }

  section{
    margin: 0;
    width: 80%;
  }

  footer{
    height: 10px;
  }
  
}
*/