* {
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: rgb(241, 68, 6);

}

.logo{
  width: 6rem;
  color: rgb(241, 68, 6);
  font-size: medium;
}
.logo:hover{
  cursor: pointer;
  color: white ;
}

.redes a{
  text-decoration: none;
  margin-right: 1rem;
  color:orangered ;
}

.card-title a:hover{
  color:orangered ;
  text-decoration: none;
}

.btn-main {
  color:orangered;
  margin-right: 2rem;
  text-align: center;
  border: none;

}

.btn-main:hover, .redes a:hover {
  color: white;

}

.bi{
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
}

.bi:hover {
  cursor: pointer;
  color: white ;

}

.sec-about{
  display: flex;
  width: 100%;
  padding: 10rem;
  background-image: url(../img/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.sec-education{
  display: flex;
  width: 100%;
  padding: 2rem;
  
}

.row{
  justify-content: center;
}

#carouselExampleDark{
  height: 25vw;
}

.card-title a {
  color: #000004;
  text-decoration: none;

}

.card-title a:hover{
  color:orangered ;
  text-decoration: none;
}

footer .col-md{
  color: white;
  font-size: x-small;

}


@media screen and (max-width:600px){
  body{
    flex-direction: column;
  }

  header{
    height: 80px;
  }

  aside{
    width: 100%;
  }

  section{
    margin: 0;
    width: 100%;
  }

  footer{
    height: 10px;
  }
  

}

@media screen and (min-width: 601px) and (max-width: 960px){
  body{
    flex-direction: column;
  }

  header{
    height: 80px;
  }

  section{
    margin: 0;
  }

  aside{
    width: 100%;
  }

  footer{
    height: 10px;
  }

}

@media screen and (min-width: 961px) and (max-width: 1280px){
  body{
    flex-direction: column;
  }

  header{
    height: 80px;
  }

  aside{
    width: 20%;
  }

  section{
    margin: 0;
    width: 80%;
  }

  footer{
    height: 10px;
  }
  
}
*/